<!--Sidebar content-->
<div id="sidebar">
  <%= form_for :merchant, url: merchants_path, method: :get, html: {id: 'merchant_search_filters'} do |f| %>
      <%= f.fields_for :search_filters do |s_o_f| %>
          <ul>
            <li>
              <h3>Specialization</h3>
              <ul class="sub">
                <% Specialization.all.each do |specialization| %>
                    <li>
                      <%= s_o_f.check_box(:specializations_id, {:multiple => true}, specialization.id, nil) %> <%= specialization.name %>
                    </li>
                <% end %>
              </ul>
            </li>
      <% end %>
      <%= f.fields_for :range_filters do |s_o_f| %>
          <li>
            <h3>Price per section</h3>

            <div id="price-slider" class="slider"></div>
            <%= s_o_f.hidden_field :price %>
          </li>

          <li>
            <h3>Ratings</h3>

            <div id="avg_rating-slider" class="slider"></div>
            <%= s_o_f.hidden_field :avg_rating %>
          </li>
          <li>
            <h3>Session Length (min)</h3>

            <div id="session-slider" class="slider"></div>
            <%= s_o_f.hidden_field :session_time %>
          </li>
      <% end %>
      <%= f.fields_for :search_filters do |s_o_f| %>
          <li>
            <h3>Gender </h3>
            <ul class="sub">
              <% Merchant::GENDER.each do |gender_key, gender_value| %>
                  <li><%= s_o_f.check_box(:gender, {:multiple => true}, gender_key, nil) %> <%= gender_value %></li>
              <% end %>
            </ul>
          </li>

          <li>
            <h3>Availability </h3>
            <ul class="sub">
              <% Merchant::AVAILABILITY.each do |availability_key, availability_value| %>
                  <li> <%= s_o_f.check_box(:availabilities, {:multiple => true}, availability_key, nil) %> <%= availability_value %></li>
              <% end %>
            </ul>
          </li>
          </ul>
      <% end %>
  <% end %>
</div>
<!--End #sidebar -->

<script>
    function adjust_slider(element, effected_element, max, min, step) {
        step = step || 10;
        element.slider({
            range: true,
            min: min || 10,
            max: max,
            values: [0, 0],
            step: step,
            slide: function (event, ui) {
                effected_element.val(ui.values);
                $(this).parents('form').submit();
            }
        });

        var min = element.slider("option", "min");
        var _tick_spacing = element.width() / (max - min);

        element.find('.ui-slider-tick-mark').remove();
        for (var i = 0; i < max; i += step) {
            $('<span class="ui-slider-tick-mark">' + (i + min) + '</span>').css('left', ((_tick_spacing * i) - 7) + 'px').appendTo(element);
        }
    }

    adjust_slider($("#price-slider"), $("#merchant_range_filters_price"), <%= Merchant.maximum(:price) || 100 %>);
    adjust_slider($('#session-slider'), $("#merchant_range_filters_session_time"), <%= Merchant.maximum(:session_time) || 100 %>);
    adjust_slider($('#avg_rating-slider'), $("#merchant_range_filters_avg_rating"), 5, 1, 1);

    $("#merchant_search_filters").submit(function (e) {
        e.preventDefault();
        fetch_search_query_data();
    });
    $('#merchant_search_filters input').on('change', function () {
        $(this).parents('form').submit();
    })
</script>