<div id="sorting">
  <span id="result_count" class="result_count">
  </span>

  <div class="sorting-options">
    <%= form_for :merchant, url: merchants_path, method: :get, html: {id: 'merchant_sorting_form', class: 'sort_form'} do |f| %>
        <ul>
          <li><%= f.radio_button :sort, 'avg_rating-1', class: 'sort_radio' %>
            <%= f.label 'sort_avg_rating-1', 'Rating' %></li>
          <li><%= f.radio_button :sort, 'price-1', class: 'sort_radio' %>
            <%= f.label 'sort_price-1', 'Price Up' %></li>
          <li> <%= f.radio_button :sort, 'price-0', class: 'sort_radio' %>
            <%= f.label 'sort_price-0', 'Price Down' %></li>
          <li> <%= f.radio_button :sort, 'session_time-1', class: 'sort_radio' %>
            <%= f.label 'sort_session_time-1', 'Session Up' %></li>
          <li> <%= f.radio_button :sort, 'session_time-0', class: 'sort_radio' %>
            <%= f.label 'sort_session_time-0', 'Session Down' %></li>
        </ul>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>

<script>
    $('#merchant_sorting_form input').on('change', function () {
        $(this).parents('form').submit();
    });

    $("#merchant_sorting_form").submit(function (e) {
        e.preventDefault();
        fetch_search_query_data($('#merchant_sorting_form').serializeJSON());
    });
</script>